.content {
    width: 100%;
    display: flex;
    padding-top: 10px;
}

.right-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}

body {
    overflow-x: hidden;
}